
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<textarea 
            asp-size-height="4"
            asp-size-width="10" 
            asp-is-disabled="false"
            asp-text="Een eerste zin"
            class="form-control"></textarea>

